<html> <head><style>.wf-force-outline-none[tabindex="-1"]:focus{outline:none;}</style><meta charset="utf-8"><title>Better Me - Help users grow meaningful habits and stick to them </title><meta content="Track, analyze, build up routines and habits with Habitify to unlock your full potential. Available on iOS, Android, Apple Watch, Mac, and Web." name="description"><meta content="Better Me - The Minimal, Data-Driven Habit Tracker" property="og:title"><meta content="Track, analyze, build up routines and habits with Habitify to unlock your full potential. Available on iOS, Android, Apple Watch, Mac, and Web." property="og:description"><meta content="Habitify - The Minimal, Data-Driven Habit Tracker" property="twitter:title"><meta content="Track, analyze, build up routines and habits with Habitify to unlock your full potential. Available on iOS, Android, Apple Watch, Mac, and Web." property="twitter:description"><meta property="og:type" content="website"><meta content="summary_large_image" name="twitter:card"><meta content="width=device-width, initial-scale=1" name="viewport"><link href="https://uploads-ssl.webflow.com/5d3aa39f8474c472841a7dfc/css/habitify-blog.webflow.99b8af1cf.min.css" rel="stylesheet" type="text/css"><script type="text/javascript" async="" src="https://cdn.mouseflow.com/projects/734a2ff1-c548-4933-9a37-19f1f2497037.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-MXPDQHB"></script><script src="https://connect.facebook.net/signals/config/2615623588510706?v=2.9.75&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic,900,900italic%7COpen+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic%7CMontserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%7CArchivo:regular,500,600,700%7CInter:regular,500,600,700,800,900&amp;subset=latin-ext,vietnamese,latin" media="all"><script type="text/javascript">WebFont.load({  google: {    families: ["Merriweather:300,300italic,400,400italic,700,700italic,900,900italic","Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","Archivo:regular,500,600,700:latin-ext,vietnamese,latin","Inter:regular,500,600,700,800,900"]  }});</script><!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif]--><script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script><link href="https://uploads-ssl.webflow.com/5d3aa39f8474c472841a7dfc/5ebe00c25a5d4e3aa97c2801_favicon.png" rel="shortcut icon" type="image/x-icon"><link href="https://uploads-ssl.webflow.com/5d3aa39f8474c472841a7dfc/5ebe000e5c85a10aec98d693_Webclip.png" rel="apple-touch-icon"><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-112383152-4"></script><script type="text/javascript">window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-112383152-4', {'anonymize_ip': false});</script><script type="text/javascript">!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.agent='plwebflow';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '2615623588510706');fbq('track', 'PageView');</script><meta name="p:domain_verify" content="9599a5c4651ae00752c708c88f3da1ce">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MXPDQHB');</script>
<!-- End Google Tag Manager -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



<style>
  
.habits-section .habit-colm .habit-block:hover {
      background: #299240;
}
  
.habits-section .habit-colm .habit-block:hover .habit-icon{
  background-color: #fff;
}
  
.habits-section .habit-colm .habit-block:hover .habit-content .heading-24{
      color: #fff;
}
.habits-section .habit-colm .habit-block:hover .habit-content .paragraph-9{
      color: #fff;
}
  
  
.tab-link-2.w--current .tab-link-content{
    color: #2a67f4;
}  
  
.v3-nav-bar-container {
	max-width: 1300px;
}

.v3-container {
	max-width: 1200px;
}

  p.paragraph-11{
  
  background: linear-gradient(97.07deg, #2A67F4 41.4%, #E412CF 119.01%);

            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
  }
  @media screen and (max-width: 991px){
  
.banner-section.wf-section .w-col.w-col-6 {
    width: 100%;
    
} 
img.image-13 {
    margin-left: 50px;
}
.intro-content {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
.heading-jumbo {
    font-size: 40px;
    line-height: 46px;
    text-align: center;
} 
.paragraph-bigger.cc-bigger-light {
    text-align: center;
}
.heading-block {
    text-align: center;
}
.paragraph-20 {
  
    margin: auto;
}
img.image-12 {
    display: none;
}
.image-10 {
    width: 300px;
}
    .image-9{
    	margin-top:180px;
    }
 h2.heading-21 br {
    display: none;
}
 h2.heading-21{
    	font-size:32px;
    }
 img.image-14 {
    margin-top: -20px;
    margin-right: -50px;
}
.progress-section.wf-section {
    overflow: hidden;
}
.automation-heading {
    width: 75%;
}
 .habit-colm.hd.w-col.w-col-8 {
    width: 100%;
    text-align: center;
}
h2.heading-23 {
    margin: auto;
}
 p.paragraph-10 {
    margin: auto;
    margin-top: 8px;
    margin-bottom: 32px;
}
 .habits-section.wf-section .w-row {
    align-items: stretch;
}
.habits-section.wf-section .w-row {
   
    display: flex;
    flex-wrap: wrap;
}
.notificastion-slide.wf-section {
    overflow: hidden;
}
img.image-51 {
    width: 150%!important;
    max-width: 150%;
    margin-left: -100px;
}
.container-17.w-container {
    display: flex;
    flex-direction: column;
}

.version-block {
    order: 1;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image-52 {
    width: 49%;
    margin: 0;
  margin-bottom: 15px;
}
p.paragraph-15 {
    font-size: 14px;
    line-height: 21px;
}
    .footer-link{
    	font-size:15px;
    }
 .image-50 {
    width: 25px;
    height: auto;
}
.habit-icon {
    border-radius: 50%;
}
 .reading-block.ruunig-block {

    width: 85%;
}
.habits-section.wf-section {
    margin-bottom: -130px;
}
p.paragraph-11 {
    margin-bottom: 30px;
}
  }  
  @media screen and (max-width: 767px) {
.heading-block {
    text-align: left;
}


.paragraph-20, .paragraph-5 {
    text-align: left;
}
.reading-block {
   
    height: 63px;
}
h2.heading-20 {
    font-size: 44px;
    margin-bottom: 13px;
}
.progress-section.wf-section .columns-4.w-row {
    order: 1;
}
 img.image-14 {
    margin-top: 0;
    margin-right: 0;
    width: 100%;
  
}
img.image-10 {
    width: 100%;
    margin-top: 15px;
}
 h2.heading-21 {
    font-size: 27px;
}
.automation-heading {
    width: 100%;
}
.habits-section.wf-section .habit-block {
    display: flex!important;
    width: 100%;
    padding-bottom: 0;
}
.habits-section.wf-section .habit-icon {
    border-radius: 50%;
    position: relative;
    background:transparent;
  z-index:1;
  
}
.habits-section.wf-section .habit-icon:before {
    content: "";
    background: rgb(0 0 0 / 10%);
    width: 45px;
    height: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}
.habits-section.wf-section {
    margin-bottom: -60px;
}
.notification-section {
    padding-top: 200px;
    padding-bottom: 150px;
    }
    img.image-51 {
    width: 100%;
    margin-left: 0;
}
.image-52 {
    width: 100%;
    
}
.links-section-footer a:last-child {
    margin: 0!important;
}
.heading-jumbo {
    font-size: 31px;
    line-height: 35px;
    text-align: center;
}
.tab-section.wf-section .habit-block {
    padding: 0;
}
   .notification-section {
    background-size: contain;
}
img.image-51 {
    width: 100%!important;
    margin-left: 0;
    padding: 23px;
} 
p.paragraph-11 {
    margin-bottom: 15px;
}
 a.button-3.w-button {
    padding: 13px 15px;
    width: auto;
}
  }
 
 .w-slider-dot (
  height: 6px;
  background: #6AAAF3;
  top: 3px;
)
.w-slider-dot.w-active (
  height: 6px;
  background: white;
  top: 3px;
)
.w-slider-nav.w-round]div (
  width: 24px;
  border-radius: 8px;
) 
.section-11{
  background-image: url(https://strategicdiscipline.positioningsystems.com/hs-fs/hubfs/images/Habits%20ladder.jpg?width=386&name=Habits%20ladder.jpg) !important;

}

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/platform/1.3.5/platform.min.js" integrity="sha256-a5JlAx3qX6Rkvx+38zcjAPQLDQVUIwwwUeOrlDQ5W8s=" crossorigin="anonymous"></script>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
		var appStoreButtons = document.querySelectorAll('.store-button-appstore-link');
    var macAppStoreButtons = document.querySelectorAll('.store-button-macstore-link');
    var googlePlayStoreButtons = document.querySelectorAll('.store-button-gplay-link');
    var webStoreButtons = document.querySelectorAll('.store-button-web-link');
    appStoreButtons.forEach(function(el) { el.style.display = "none" });
    macAppStoreButtons.forEach(function(el) { el.style.display = "none" });
    googlePlayStoreButtons.forEach(function(el) { el.style.display = "none" });
    webStoreButtons.forEach(function(el) { el.style.display = "none" });

    if(platform.os.family == "OS X") {
       webStoreButtons.forEach(function(el) { el.style.display = "inline-block" });
    } else if(platform.os.family == "iOS") {
    	appStoreButtons.forEach(function(el) { el.style.display = "inline-block" });
    } else if(platform.os.family == "Android") {
   	 		googlePlayStoreButtons.forEach(function(el) { el.style.display = "inline-block" });
    } else {
       webStoreButtons.forEach(function(el) { el.style.display = "inline-block" });
    }
});
</script>
<script src="https://www.googleoptimize.com/optimize.js?id=OPT-TGDX4XS"></script>
<script type="text/javascript" async="" src="//l.getsitecontrol.com/94g0m157.js"></script>
</head><body class="body-5"><nav id="header" class="section-14 wf-section"><div data-collapse="small" data-animation="default" data-duration="237" data-easing="ease-in-out" data-easing2="ease-in" data-doc-height="1" role="banner" class="v3-nav-bar w-nav"><div class="v3-nav-bar-container w-container"><a href="/" aria-current="page" class="w-nav-brand w--current" aria-label="home"><img src="https://uploads-ssl.webflow.com/5d3aa39f8474c472841a7dfc/5eb8b999ca0a15fdfcd63b11_header-logo.png" sizes="(max-width: 479px) 100vw, 168px" srcset="https://d1iiooxwdowqwr.cloudfront.net/pub/appsubmissions/20200827100449_logo1.png" 500w, 
504w" alt="" class="image-38"></a><div class="content-spacer"></div><nav role="navigation" class="nav-menu w-nav-menu">

<a href="/user_sign_up" class="v3-nav-link primary w-nav-link" style="max-width: 1300px;">Sign Up</a><a href="/user_sign_in" class="v3-nav-link primary w-nav-link" style="max-width: 1300px;">Sign In</a></nav><div class="menu-button-2 w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false"><div class="icon-2 w-icon-nav-menu"></div></div></div><div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div></div></nav><main class="section-11 wf-section"><div class="v3-container tagline w-container"><h1 class="v3-header-tagline">Build Golden Habits, Unlock your Potential</h1><div class="v3-tagline-subtitle">Focus on what truly matters with Better Me. Build the best version of yourself by mastering your habits with a like-minded community.</div><a id="store-button-gplay-link" href="https://play.google.com/store/apps/details?id=co.unstatic.habitify&amp;referrer=utm_source%3Dlanding%2520page%26utm_medium%3DCTA%26utm_campaign%3Dlanding%2520page" target="_blank" class="store-button-gplay-link w-inline-block" style="display: none;"><img src="https://uploads-ssl.webflow.com/5d3aa39f8474c472841a7dfc/5eba5bec92447632b792d7fb_en_badge_web_generic.png" sizes="(max-width: 479px) 100vw, (max-width: 1279px) 242.890625px, 227.390625px" srcset="https://uploads-ssl.webflow.com/5d3aa39f8474c472841a7dfc/5eba5bec92447632b792d7fb_en_badge_web_generic-p-500.png 500w, https://uploads-ssl.webflow.com/5d3aa39f8474c472841a7dfc/5eba5bec92447632b792d7fb_en_badge_web_generic.png 646w" alt="" class="image-42"></a><a id="store-button-appstore-link" href="https://apps.apple.com/us/app/habitify-habit-tracker/id1111447047#?platform=iphone" target="_blank" class="store-button-appstore-link w-inline-block" style="display: none;"><img src="https://uploads-ssl.webflow.com/5d3aa39f8474c472841a7dfc/5ebcc6dca6a57b0f9e83466f_Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917-min.png" alt="" class="image-43"></a><a id="store-button-macstore-link" href="https://apps.apple.com/us/app/habitify-habit-tracker/id1111447047#?platform=mac" target="_blank" class="store-button-macstore-link w-inline-block" style="display: none;"><img src="https://uploads-ssl.webflow.com/5d3aa39f8474c472841a7dfc/5ebcc6dc959c9edae48edf6e_Download_on_the_Mac_App_Store_Badge_US-UK_RGB_blk_092917-min.png" alt="" class="image-44"></a><a id="store-button-web-link" href="/goals" class="v3-cta-button tagline store-button-web-link w-button" style="display: inline-block;">Get Started</a></div></main><section id="body" class="section-12 wf-section"><div class="v3-container tagline-container w-container"><section class="v3-how-its-work-container"><h2 class="v3-feature-header">How It Works?</h2><div class="v3-feature-subtitle center">Habit building in its essential steps: choose a habit, actually remember to do it, and track your development.</div><div class="v3-how-it-work-subfeature-container w-row"><div class="v3-how-it-work-subfeature first w-col w-col-4"><img src="https://uploads-ssl.webflow.com/5d3aa39f8474c472841a7dfc/5ebcc50301b3fa36ff4cb09a_progress-1%402x-min.png" alt="" class="v3-subfeature-image"><h3 class="v3-subfeature-header">1. Set up your Habits</h3><div class="v3-subfeature-subtitle how-it-work">Detail out the habit you'd like to form. E.g run 30 minutes everyday for 60 days. </div></div><div class="v3-how-it-work-subfeature w-col w-col-4"><img src="https://uploads-ssl.webflow.com/5d3aa39f8474c472841a7dfc/5ebcc559ba7ed821540bbeb3_progress-2%402x-min.png" alt="" class="v3-subfeature-image"><h3 class="v3-subfeature-header">2. Connected like-minded people to form this meaningful habit together. </h3><div class="v3-subfeature-subtitle how-it-work">Stay accountable and never forget your habits with other users who try to form the exact same habits. Commit to the bet to your group accountable. </div></div><div class="v3-how-it-work-subfeature last w-col w-col-4"><img src="https://uploads-ssl.webflow.com/5d3aa39f8474c472841a7dfc/5ebcc5047d67444dc7a3f90d_progress-3%402x-min.png" alt="" class="v3-subfeature-image"><h3 class="v3-subfeature-header">3. See your Progress earn $ back.</h3><div class="v3-subfeature-subtitle how-it-work">View your habit development through the weeks and months with detailed reports, and see $ deposits in your bank account everyday you get closer to your goal.</div></div></div></section></div></section>
     
   <%# <div class="v3-testimonial-customer-review-container w-row"><div class="v3-testimonial-customer-review-item w-col w-col-4"><img src="https://uploads-ssl.webflow.com/5d3aa39f8474c472841a7dfc/5eb90f1a4d5e4b369fc400b7_customer-review-five-star%402x.png" alt="" class="v3-testimonial-customer-review-item-icon"><div class="v3-testimonial-customer-review-item-body">"It helps me to monitor my goal routines and keeps me in the know about my bad habits as well. Kudos to the team!"</div></div><div class="v3-testimonial-customer-review-item w-col w-col-4"><img src="https://uploads-ssl.webflow.com/5d3aa39f8474c472841a7dfc/5eb90f1a4d5e4b369fc400b7_customer-review-five-star%402x.png" alt="" class="v3-testimonial-customer-review-item-icon"><div class="v3-testimonial-customer-review-item-body">"The quickest I’ve ever bought premium on an app! I hope I don’t regret it but it’s good so far"</div></div><div class="v3-testimonial-customer-review-item w-col w-col-4"><img src="https://uploads-ssl.webflow.com/5d3aa39f8474c472841a7dfc/5eb90f1a4d5e4b369fc400b7_customer-review-five-star%402x.png" alt="" class="v3-testimonial-customer-review-item-icon"><div class="v3-testimonial-customer-review-item-body">"I have tried them all, finally sth that is worth it. User friendly, nice dashboards, hitting all my habits!"</div></div></div> %>

<%# <style>
  .section-11{
    background-image: url(https://strategicdiscipline.positioningsystems.com/hs-fs/hubfs/images/Habits%20ladder.jpg?width=386&name=Habits%20ladder.jpghttps://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png);
  }
</style> %>
